
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Giỏ hàng";
}
@using WebBanSach.Models.Common
@model IEnumerable<CartItem>


<div class="row">
    @if (Model == null || Model.Count() == 0)
    {
        <div class="col-md-9 left-container">
            <h3 class="alert alert-danger">Chưa có sản phẩm trong giỏ hàng</h3>
        </div>
    }
    else
    {
        <div class="col-md-9 left-container">
            <table class="table cart-table">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <form action="#" class="form">
                                <div class="checkbox">
                                    <input type="checkbox" id="checkboxAll" />
                                </div>
                            </form>
                        </th>
                        <th colspan="2" class="header-cart">Giỏ hàng</th>
                        <th class="header-cart" style="text-align: center;">Giá</th>
                        <th class="header-cart">Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CartItem item in Model)
                    {
                        <tr id="row-item-@item.Product.Masach">
                            <td>
                                <form action="#" class="form">
                                    <div class="checkbox">
                                        <input type="checkbox" class="checkboxItem" id="item-@item.Product.Masach" onclick="onClickSelectItem('item-@item.Product.Masach')" />
                                    </div>
                                </form>
                            </td>
                            <td class="col-content-img">
                                <div>
                                    <img src="~/Assets/images/@item.Product.Hinhminhhoa" alt="images">
                                </div>
                            </td>
                            <td class="col-content-title">
                                <div>
                                    <div class="title">@item.Product.Tensach</div>
                                    <div>
                                        <div class="author">Tác giả : <span style="color: #0066c0;">@item.Product.Tacgia.Tentacgia</span></div>
                                        <div class="author">Thể loại : <span>@item.Product.Chude.Tenchude</span></div>
                                        <div>
                                            <a href="#" onclick="onRemoveItem(@item.Product.Masach)">Xóa</a> | <a href="#">Thêm vào yêu thích</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="col-content-price">
                                <div>
                                    <span class="product-price">@((item.Product.Giakm != null ? item.Product.Giakm : item.Product.Dongia).ToString() + " đ")</span>
                                    <span class="saving">Tiết kiệm @((item.Product.Giakm != null ? item.Product.Dongia - item.Product.Giakm : 0).ToString() + " đ")</span>
                                </div>
                            </td>
                            <td class="col-content-quantity">
                                <input type="number" value="@item.Quantity" class="form-control" min="1">
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                <td colspan="3">
                    <div>
                        <button type="button" class="btn btn-danger deselect" onclick="onClickRemoveItemSelected()">Xóa chọn</button>
                    </div>
                </td>
                @{
                    decimal tongTien = 0;
                    decimal tietKiem = 0;
                    int tongSoLuong = 0;

                    foreach (CartItem item in Model)
                    {
                        var donGia = item.Product.Giakm != null ? item.Product.Giakm : item.Product.Dongia;
                        var tienTietKiem = item.Product.Giakm != null ? item.Product.Dongia - item.Product.Giakm : 0;
                        tongTien += (decimal)donGia * item.Quantity;
                        tietKiem += (decimal)tienTietKiem * item.Quantity;
                        tongSoLuong += item.Quantity;
                    }
                }
                <td>
                    <div class="footer-price">
                        <span class="total-price">Tổng tiền: @(tongTien.ToString() + " đ")</span>
                        <span class="total-saving">Tiết kiệm: @(tietKiem.ToString() + " đ")</span>
                    </div>
                </td>
                <td>
                    <div>
                        <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-success" style="font-size: 14px;"><i class="fa fa-shopping-cart"></i>Thanh toán</button>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>
        <div class="col-md-3 right-container">
            <div class="cart-info">
                @{
                    <div class="info">
                        <span class="text-bold" style="font-size: 17px;">@tongSoLuong sản phẩm</span>
                        <span class="text-bold" style="color: #f15c22">@(tongTien.ToString() + " đ")</span>
                        <span style="font-size: 14px;">( Chưa có cước vận chuyển )</span>
                    </div>
                }
                <div class="payment">
                    <button type="button" class="btn btn-success">
                        <i class="fa fa-shopping-cart"></i>Thanh toán
                    </button>
                </div>
            </div>
            <div class="more-product">
                @{ Html.RenderAction("SachLienQuan", "DanhMuc"); }
            </div>
        </div>


        <!--Phần Model hiển thị-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <!--Dòng trên "id" phải trùng với tên của "data-target" của button Thanh toán-->
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Thanh toán</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="xu-ly-thanh-toan" style="display:none">
                        Thanh toán đang được xử lý
                    </div>
                    <div id="thanh-toan-thanh-cong" style="display:none">
                        Thanh toán thành công, trang sẽ tự điều hướng trong 2 giây
                    </div>
                    <div class="modal-body" id="thanh-toan">
                        <form>
                            <div class="form-group">
                                <label for="modal-name" class="col-form-label">Họ và tên:</label>
                                <input type="text" class="form-control" id="modal-name">
                            </div>
                            <div class="form-group">
                                <label for="modal-email" class="col-form-label">Mail:</label>
                                <input type="text" class="form-control" id="modal-email">
                            </div>
                            <div class="form-group">
                                <label for="modal-phone" class="col-form-label">Số điện thoại:</label>
                                <input type="text" class="form-control" id="modal-phone">
                            </div>
                            <div class="form-group">
                                <label for="modal-address" class="col-form-label">Địa chỉ:</label>
                                <input type="text" class="form-control" id="modal-address">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="Purchase()" id="btn-thanh-toan">Thanh toán</button><!--Hàm Purchase() ở dưới cùng, chạy khi nhấn button thanh toán ở modal-->
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $('#checkboxAll').click(() => {
        if ($('#checkboxAll').is(':checked')) {
            $('.checkboxItem').prop('checked', true)
            isCheckedAll = true
        } else {
            $('.checkboxItem').prop('checked', false)
        }
    })

    const onClickSelectItem = selector => {
        let numberAllRow = $('.checkboxItem').length
        if (!$(selector).is(':checked') && $('#checkboxAll').is(':checked')) {
            $('#checkboxAll').prop('checked', false)
        } else {
            let numberRowIsChecked = $('.checkboxItem').filter(function () {
                return $(this).is(':checked')
            }).length
            if (numberRowIsChecked === numberAllRow) {
                $('#checkboxAll').prop('checked', true)
            }
        }
    }

    const onClickRemoveItemSelected = () => {
        const listItemSelected = []
        $('.checkboxItem').each(function () {
            if ($(this).is(':checked')) {
                //item-id
                let productID = $(this).attr('id').split('-')[1]
                listItemSelected.push(parseInt(productID))
            }
        })
        $.ajax({
            url: '/GioHang/XoaNhieuSanPham',
            method: 'POST',
            data: { listProduct: listItemSelected },
            dataType: 'text',
            success: function (response) {
                response = JSON.parse(response)
                if (response.status == true) {
                    $(location).attr("href", '/GioHang/Index')
                } else {
                    alert('Xóa sản phẩm thất bại!')
                }
            }
        })
    }


    const onRemoveItem = productID => {
        productID = parseInt(productID)
        $.ajax({
            url: '/GioHang/XoaSanPham',
            method: 'POST',
            data: { productID },
            dataType: 'text',
            success: function (response) {
                response = JSON.parse(response)
                if (response.status == true) {
                    $(location).attr("href", '/GioHang/Index')
                } else {
                    alert('Xóa sản phẩm thất bại!')
                }
            }
        })
    }

    const Purchase = () => {
        var _name = $('#modal-name').val();
        var _phone = $('#modal-phone').val();
        var _email = $('#modal-email').val();
        var _address = $('#modal-address').val();
        //sử dụng jQuery để lấy giá trị, sau dấu "#" là id
        if (_email !== "") {
            $("#xu-ly-thanh-toan").css({ "display": "block" });
            $("#thanh-toan").css({ "display": "none" });
            $("#btn-thanh-toan").css({ "display": "none" });
            $.ajax({
                url: '/GioHang/ThanhToan',
                //sử dụng ajax để gọi tới GioHangController và Action là ThanhToan
                method: 'POST',
                data: { name: _name, phone: _phone, email: _email, address: _address },
                //data phải giống tên với các giá trị truyền vào ở /GioHang/ThanhToan
                dataType: 'text',
                success: function (response) {
                    response = JSON.parse(response)
                    if (response.status == true) {
                        $("#xu-ly-thanh-toan").css({ "display": "none" });
                        $("#thanh-toan-thanh-cong").css({ "display": "block" });
                        setTimeout(function () {
                            $(location).attr("href", '/Home/Index')
                        }, 2000);
                    } else {
                        $("#btn-thanh-toan").css({ "display": "block" });
                        alert('Thanh toán thất bại!')
                    }
                }
            })
        } else {
            alert('Mail không được để trống!')
        }
    }
</script>
